.node {
  display: flex;
  height: auto;
  width: auto;
  min-height: 2.5rem;
  min-width: 2.5rem;
  max-height: 3.5rem;
  max-width: 3.5rem;

  border: 1px solid transparent;

  
  flex-grow: 1;
}

.bottom {
  border-bottom: 1px solid black;
}

.right {
  border-right: 1px solid black;
}
