.node {
  display: flex;
  height: auto;
  width: auto;
  min-height: 1.5rem;
  min-width: 1.5rem;
  max-height: 2.5rem;
  max-width: 2.5rem;
  border: 2px solid transparent;
  flex-grow: 1;
}

.bottom {
  border-bottom: 2px solid black;
}

.right {
  border-right: 2px solid black;
}

.node.selected {
    background-color: rgba(255, 255, 0, 0.3); /* transparent yellow */
}

.node.entrance {
    background-color: rgba(0, 255, 0, 0.18); /* transparent green */
}

.node.exit {
    background-color: rgba(255, 0, 0, 0.18); /* transparent red */
}

/*selected exit node should mix the colors of the selected and exit nodes*/
.node.selected.exit {
    background-color: rgba(255, 0, 0, 0.3); /* transparent red */
}

/*selected entrance node should mix the colors of the selected and entrance nodes*/
.node.selected.entrance {
    background-color: rgba(0, 255, 0, 0.3); /* transparent green */
}