.node {
  display: flex;
  height: auto;
  width: auto;
  min-height: 1.5rem;
  min-width: 1.5rem;
  max-height: 2.5rem;
  max-width: 2.5rem;
  border: 2px solid transparent;
  flex-grow: 1;
}

.bottom {
  border-bottom: 2px solid black;
}

.right {
  border-right: 2px solid black;
}

.node.selected {
    background-color: rgba(255, 255, 0, 0.5); /* transparent yellow */
}